*{
	box-sizing: border-box;
}

.pc {
	display: block;
	@media (max-width: 767px) {
		display: none;
	}
}

.sp {
	display: none;
	@media (max-width: 767px) {
		display: block;
	}
}

body.dashboard {
	font-family: $font-roboto;
}


body {
	font-family: $font-barlow;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

em, span, strong {
	display: inline-block;
	vertical-align: middle;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}


button {
	border: none;
}


.img-max {
	width: 100%;
}


.container {
	max-width: 1080px;
	padding: 0 15px;
	margin: 0 auto;
}

.header-page {
	font-size: 80px;
	font-family: $font-josefin;	
	text-transform: uppercase;
	&-sub {
		font-size: 30px;
		font-family: $font-barlow;
		font-weight: 700;
	}
	@media (max-width: 767px) { 
		font-size: 50px;
		&-sub {
			font-size: 16px;
		}
	}
}

.vn {
	.mission-section {
		.header-page {
			font-size: 50px;
		}
	}
}

.section-text {
	font-size: 15px;
	font-family: $font-barlow;
	font-weight: 300;
	line-height: 1.7;
	.header-page-sub + & {
		margin-top: 55px;
		@media (max-width: 767px) { 
			margin-top: 30px;
		}
	}
	&--blur {
		opacity: .5;
	}
}


.breadcrumb {
	display: flex;
	justify-content: center;
	li {
		position: relative;
		padding-left: 15px;
		margin-left: 15px;
		&:first-child {
			padding: 0;
			margin: 0;
			&::before {
				content: '';
			}
		}
		&::before {
			content: '/';
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	a {
		color: $color-white;
	}
}

.fz {
	&--12 {
		font-size: 12px;
	}
	&--16 {
		font-size: 16px;
	}
	&--18 {
		font-size: 18px;
	}
	&--24 {
		font-size: 24px;
	}
}

.flex-box {
	display: flex;
	&--between {
		justify-content: space-between;
	}
	&--start {
		justify-content: flex-start;
	}
	&--end {
		justify-content: flex-end;
	}
	&--center {
		justify-content: center;
	}
	&--aligncenter {
		align-items: center;
	}
	&--aligntop {
		align-items: flex-start;
	}
	&--baseline {
		align-items: baseline;
	}
	&__direction {
		&--column {
			flex-direction: column;
			@media (max-width: 767px) {
				&--mb {
					flex-direction: column;
				}
			}
		}
	}
	&--column-reverse--mb {
		@media (max-width: 767px) {
			flex-direction: column-reverse;
		}
	}
	&--wrap {
		flex-wrap: wrap;
	}
	&--wrap--mb {
		@media (max-width: 767px) {
		flex-wrap: wrap;
		}
	}
	&--mb {
		@media (max-width: 767px) {
			display: flex;
		}
	}
}

.wp-pagenavi {
	clear: both;
	border-top:1px solid #B4B4B4;
	padding-top: 50px;
    text-align: left;
	margin: 60px 0 80px;
	a,
	span {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
	margin: 0 15px;
	color: $color-thin-gray;
	font-weight: bold;
	border: none !important;
	}
	a:hover,
	span.current {
    color: $color-red;
	}
	span.current {
		color: $color-red;
	}
}

.mt {
	&--auto {
		margin-top: auto;
	}
	&--0 {
		margin-top: 0 !important;
	}
	&--10 {
		margin-top: 10px;
	}
	&--15 {
		margin-top: 15px;
	}
	&--20 {
		margin-top: 20px;
		@media (max-width: 767px) {
			&--mb {
				margin-top: 20px;
			}
		}
	}
	&--25 {
		margin-top: 25px;
		@media (max-width: 767px) {
			&--mb {
				margin-top: 20px;
			}
		}
	}
	&--30 {
		margin-top: 30px;
		@media (max-width: 767px) {
			&--mb {
				margin-top: 20px;
			}
		}
	}
	&--40 {
		margin-top: 40px;
		@media (max-width: 767px) {
			&--mb {
				margin-top: 20px;
			}
		}
	}
	&--50 {
		margin-top: 50px;
		@media (max-width: 767px) {
			&--mb {
				margin-top: 20px;
			}
		}
	}
	&--60 {
		margin-top: 60px;
		@media (max-width: 767px) {
			&--mb {
				margin-top: 20px;
			}
		}
	}
	&--70 {
		margin-top: 70px;
		@media (max-width: 767px) {
			&--mb {
				margin-top: 70px;
			}
		}
	}
	&--80 {
		margin-top: 80px;
		@media (max-width: 767px) {
			&--mb {
				margin-top: 70px;
			}
		}
	}
	&--90 {
		margin-top: 90px;
		@media (max-width: 767px) {
			&--mb {
				margin-top: 70px;
			}
		}
	}
	&--120 {
		margin-top: 120px;
		@media (max-width: 767px) {
			&--mb {
				margin-top: 80px;
			}
		}
	}
	&__mb {
		@media (max-width: 767px) {
			&--0 {
				margin: 0 !important;
			}
			&--20 {
				margin-top: 20px;
			}
		}
	}
}

.mb {
	&--70 {
		margin-bottom: 70px;
	}
}

.mr {
	&--20 {
		margin-right: 20px;
	}

}

.ml {
	&--10 {
		margin-left: 10px;
	}
	&--20 {
		margin-left: 20px;
	}
}

.taC {
	text-align: center;
}
.taR {
	text-align: right !important;
}

.tbl-page {
	width: 100%;
	border-collapse: separate;
	border: 1px solid $color-light-gray;
	border-top: none;
	border-right: none;
	tr {
		th {
			border-top: 1px solid $color-light-gray;
			border-right: 1px solid $color-light-gray;
			padding: 10px;
		}
		td {
			border-top: 1px solid $color-light-gray;
			border-right: 1px solid $color-light-gray;
			padding: 10px;
		}
	}
}

.input-page {
	height: 45px;
	width: 100%;
	border: 1px solid $color-border;
	padding: 10px;
	outline: none;
	background: transparent;
	&-radio {
		margin-right: 10px;
	}
}

.textarea-page {
	border: 1px solid $color-border;
	background: transparent;
	height: 150px;
	width: 100%;
	padding: 10px;
	color: $color-white;
}

table.table-form-page {
	width: 100%;
	border-collapse: collapse;
	font-family: $font-josefin;	
	tr {
		td {
			padding: 15px 0;
			@media (max-width: 767px) {
				width: 100%;
				display: block;
				padding-bottom: 20px;
			}
		}
		th {
			text-align: left;
			text-transform: uppercase;
			@media (max-width: 767px) {
				width: 100%;
				font-size: 15px;
				display: block;
			}
		}
	}
}

.btn-page {
	background: $color-green;
	color: $color-white;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	padding: 0 30px;
	font-weight: bold;
	letter-spacing: 1px;
	i {
		margin-left: 30px;
	}
	&.disable {
		opacity: .3;
		pointer-events: none;
	}
	&--outline {
		border: 1px solid $color-blue-dark;
		background: none;
		color: $color-blue-dark;
		padding: 5px 15px;
		border-radius: 4px;
		line-height: 35px;
		height: 35px;
	}
	.section-text + & {
		margin-top: 70px;
	}
}

.dashboard {
	.btn-page {
		background: $color-blue-dark;
		height: 35px;
		line-height: 35px;
		font-size: 12px;
		padding: 0 15px;
	}
	.input-page {
		height: 35px;
		width: 100%;
		border: 1px solid $color-thin-gray;
		padding: 10px;
		outline: none;
		background: transparent;
		padding: 0 15px;
		text-align: center;
		&-radio {
			margin-right: 10px;
		}
	}	
	.header {
		padding-right: 30px;
	}
}

#idBooking {
	background: $color-white;
}

.grid {
	&--80 {
		width: 80%;
	}
	&--5 {
		width: 5%;
	}
	&--10 {
		width: 10%;
	}
	&--15 {
		width: 15%;
	}
	&--20 {
		width: 20%;
	}
	&--25 {
		width: 25%;
	}
	&--30 {
		width: 30%;
	}
	&--35 {
		width: 35%;
	}
	&--40 {
		width: 40%;
	}
	&--45 {
		width: 45%;
	}
	&--50 {
		width: 50%;
	}
	&--55 {
		width: 55%;
	}
	&--48 {
		width: 48%;
	}
	&--60 {
		width: 60%;
	}
	&--70 {
		width: 70%;
	}
	&--75 {
		width: 75%;
	}
	&__mb {
		@media (max-width: 767px) {
			&--100 {
				width: 100%;
			}
			&--48 {
				width: 48%;
			}
		}
	}
	&--small {
		max-width: 800px;
		margin: 0 auto;
	}
}

.box {
	&--border {
		border: 1px solid $color-light-gray;
		padding: 30px;
		border-radius: 5px;
	}
}

.slick-arrow {
    border: none;
    font-size: 15px;
    position: absolute;
    z-index: 500;
    outline: none;
    width: 100px;
	height: 20px;
	background: none;
	cursor: pointer;
	&:hover {
		opacity: .6;
	}
}

button.slick-next {
    right: -80px;
	top: 45%;
	&::before {
		content: '';
		background: url('../img/top/arrow_next.svg') no-repeat right top;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -5px;
		width: 20px;
		height: 10px;
	}
	@media (max-width: 767px) {
		right: 0;
	}
}

button.slick-prev {
	width: 120px;
    left: -80px;
	top: 45%;
	&::before {
		content: '';
		background: url('../img/top/arrow_prev.svg') no-repeat right top;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -5px;
		width: 20px;
		height: 10px;
	}
	@media (max-width: 767px) {
		left: 0;
	}
}



.text-align {
	&--center {
		text-align: center;
	}
}

.text {
	&__err {
		color: $color-error;
	}
}

.tab-content {
	display: none;
	padding-top: 40px;
}

.popup {
	display: none;
	width: 50%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: $color-white;
	padding: 50px;
	z-index: 1501;
	@media (max-width: 767px) {
		width: 90%;
		padding: 30px;
	}
}

.overlay {
	background: rgba(0,0,0,.4);
	position: fixed;
	z-index: 1500;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}


.bg {
	&--white {
		background: $color-white;
	}
	&--grey {
		background: $color-light-gray;
	}
}

.table-page {
	width: 100%;
	border: 1px solid $color-border;
	border-collapse: collapse;
	thead {
		background: $color-light-gray;
	}
	tr {
		td {
			border-bottom: 1px solid $color-border;
			border-left: 1px solid $color-border;
			padding: 10px;
		}
	}
}

.logo_teddy {
	position: relative;
	padding-left: 15px;;
	.dot {
		position: absolute;
		bottom: 22px;
		left: 37px;
		background: #fff;
		width: 4px;
		height: 4px;
		border-radius: 100%;
	}
	img {
		height: 45px;
	}
}

.ontop-button {
	position: fixed;
	right: 30px;
	bottom: 60px;
	z-index: 1000;
}

.text {
	&-link {
		display: inline-block;
		color: $color-blue-dark;
	}
	&-red {
		color: $color-error;
	}
}

.toggleSection {
	display: none;
}

#gmap-menu {
	height: 60vh;
	color: $color-black;
}

.slick-dots {
	position: absolute;
	bottom: 80px;
	right: 50px;
	z-index: 1500;
	li {
		display: inline-block;
		margin-right: 10px;
		opacity: .6;
		&:last-child {
			margin-right: 0;
		}
		button {
			width: 15px;
			height: 15px;
			font-size: 0;
			outline: none;
			border-radius: 100%;
			background: #052026; 
			opacity: .2;
		}
		&.slick-active button {
			opacity: 1;
			button {
				background: $color-green;
			}
		}
	}
	
}

@media only screen and (min-width: 768px) {

}

@media (max-width: 767px) {

}