.footer {
	background: $color-footer;
	padding: 25px 0;
	font-family: $font-josefin;
	color: $color-white;
	.copyright {
		opacity: .5;
		line-height: 50px;
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}
	ul {
		li {
			margin: 0 25px;
			@media (max-width: 767px) {
				margin: 0 15px;
			}
			.icon {
				display: inline-block;
				width: 50px;
				height: 50px;
				background: $color-icon;
				border-radius: 100%;
				text-align: center;
				line-height: 50px;
				margin-right: 20px;
				@media (max-width: 767px) {
					width: 30px;
					height: 30px;
					line-height: 30px;
				}
			}
			a {
				i {
					color: $color-white;
				}
				color: $color-white;
				font-size: 15px;
				@media (max-width: 767px) {
					font-size: 13px;
				}
			}
		}
	}
}

.dot-navi {
	width: 10px;
	position: fixed;
	right: 80px;
	top:50%;
	transform: translateY(-50%);
	z-index: 1000;
	li {
		margin-top: 25px;
		position: relative;
		&:first-child {
			margin-top: 0;
		}
		a {
			width: 8px;
			height: 8px;
			display: block;
			background: $color-white;
			border-radius: 100%;
			-moz-transition:all 0.2s ease-out;
			-o-transition:all 0.2s ease-out;
			-webkit-transition:all 0.2s ease-out;
			-ms-transition:all 0.2s ease-out;
		}
		p {
			margin: 0;
			position: absolute;
			left: -100px;
			top: 50%;
			font-family: $font-josefin;
			transform: translateY(-50%);
			-moz-transition:all 0.2s ease-out;
			-o-transition:all 0.2s ease-out;
			-webkit-transition:all 0.2s ease-out;
			-ms-transition:all 0.2s ease-out;
			opacity: 0;
			text-transform: uppercase;
			color: $color-green;
		}
		&:hover {
			p {
				opacity: 1;
			}
		}
		&:hover {
			a {
				transform: scale(1.8);
				background: $color-green;
			}
		}
		&.active {
			a {
				transform: scale(1.8);
				background: $color-green;
			}
		}
	}
	@media (max-width: 767px) {
		display: none;
	}
}