.footer {
	background: $color-footer;
	padding: 25px 0;
	font-family: $font-josefin;
	color: $color-white;
	.copyright {
		opacity: .5;
		line-height: 50px;
	}
	ul {
		li {
			margin: 0 25px;
			.icon {
				display: inline-block;
				width: 50px;
				height: 50px;
				background: $color-icon;
				border-radius: 100%;
				text-align: center;
				line-height: 50px;
				margin-right: 20px;
			}
			a {
				i {
					color: $color-white;
				}
				color: $color-white;
				font-size: 15px;
			}
		}
	}
}