
.header {
	padding: 20px 0;
}

.img-logo {
	height: 40px;
}

#header {
	padding: 20px 50px;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	.img-logo {
		height: 80px;
		@media (max-width: 767px) {
			height: 45px;
		}
	}
	z-index: 1000;
	@media (max-width: 767px) {
		padding: 10px 15px;
	}
	.nav-menu-button {
		position: relative;
		float: right;
		cursor: pointer;
		width: 40px;
		height: 40px;
		.bar1,
		.bar2,
		.bar3 {
		  width: 30px;
		  height: 4px;
		  background-color: #333;
		  margin: 6px auto;
		  transition: 0.4s;
		}
	}
}

.fix-header {
	background: rgba(255,255,255,.6);
}

.nav-menu {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	& > li {
		position: relative;
	}
	&__sub {
		display: none;
		position: absolute;
		width: 450%;
		background-color: $color-white;
		top: 50px;
		padding: 20px;
		right: 0;
		z-index: 500;
		@media (max-width: 767px) {
			width: 100%;
			padding: 20px 0;
		}
		li {
			padding: 15px 20px;
			a {
				font-size: 14px;
				font-weight: bold;
				text-decoration: none;
				color: $color-black;
				&:hover {
					color: $color-red;
				}
			}
		}
	}
	@media (max-width: 767px) {
		display: none;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		padding: 110px 25px 25px;
		z-index: 900;
		position: fixed;
		background: #fff;
	}
}
.nav-link {
	position: relative;
	color: $color-black;
    text-decoration: none;
    padding: 20px;
    text-align: left;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 19px;
    @include lt-spacing(50);
    transition: ease-in-out 500ms;
    &:hover {
    	opacity: .6;
	}
}

.lang-menu {
	li {
		padding: 0 20px;
		a {
			color: $color-black;
			line-height: 1;
		}
		&:last-child {
			border-left:1px solid $color-black;
		}
		&.active {
			a {
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}
}

.header-link {
	color: $color-black;
	&:hover {
    	opacity: .6;
	}
	@media (max-width: 767px) {
		margin: 0 20px;
	}
}


.nav-bar {
	&--right {
		width: 75%;
		justify-content: flex-end;
	}
}


@media (max-width: 767px) {
	
	.nav-link {
		display: block;
		padding-left: 0px;
		padding-bottom: 15px;
    	padding-top: 10px;
		&.active {
			&:after {
				bottom: 5px;
				left: 0;
			}
		}
	}
	.nav-menu-button {
		display: block;
		z-index: 1000;
	}
}