#main-visual {
    .slide-container {
        li {
            position: relative;
        }
    }
    .main-cup-tea {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        transform: translateY(80px);
        -moz-transition:all 0.4s ease-out;
        -o-transition:all 0.4s ease-out;
        -webkit-transition:all 0.4s ease-out;
        -ms-transition:all 0.4s ease-out;
        height: auto;
    }
    .txt-draw {
        position: absolute;
        top: 43%;
        left: 10%;
        height: 200px;
    }
    .txt-love {
        position: absolute;
        top: 30%;
        left: 10%;
        height: 200px;
        opacity: 0;
        transform: translateY(-80px);
        -moz-transition:all 0.4s ease-out;
        -o-transition:all 0.4s ease-out;
        -webkit-transition:all 0.4s ease-out;
        -ms-transition:all 0.4s ease-out;
    }
    img {
        line-height: 1;
        vertical-align: bottom;
    }
    .main-img {
        height: 100vh;
    }
    @media (max-width: 767px) {
        height: 100vh;
        .txt-love {
            width: 90%;
            left: 5%;
            top: 23%;
            height: 150px;
        }
        .txt-draw {
            height: 150px;
            top: 33%;
            left: 5%;
            width: 90%;
        }
    }
}

body {
    @media (max-width: 767px) {
        overflow-x: hidden;
    }
}

.about-section {
    background: url('../img/top/bg_about.jpg') repeat left top;
    color: $color-white;
    min-height: 80vh;
    padding: 100px 0;
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    z-index: 500;
    &-wrap {
        width: 100%;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -5%;
        width: 45%;
        height: 100%;
        background: url('../img/top/bg_text.png') no-repeat left center;
        background-size: 100% auto;
    }
    @media (max-width: 767px) {
        padding: 50px 0;
    }
}

.mission-section {
    min-height: 80vh;
    position: relative;
    color: $color-white;
    z-index: 500;
    @media (max-width: 767px) {
        padding-bottom: 40px;
    }
    .container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .header-page {
        position: relative;
    }
    .header-page-sub {
        position: relative;
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 0;
        width: 48%;
        transform: translateY(-50%);
        z-index: 300;
        @media (max-width: 767px) {
            position: relative;
            top: inherit;
            left: inherit;
            width: 100% !important;
            transform: inherit;
            margin-bottom: 40px;
        }
    }
    &__leaf {
        position: absolute;
        right: 70%;
        top: -10px;
        z-index: 200;
        margin-top: -120px;
    }
    &::before {
        background: #052620;
        content: '';
        width: 70%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &::after {
        content: '';
        width: 30%;
        height: 50%;
        background: url('../img/top/bg_about.jpg') repeat left top;
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: 767px) {
            display: none;
        }
    } 
    &-grid {
        position: absolute;
        background: #f2f2f2;
        bottom:0;
        left:0;
        width: 30%;
        height: 50%;
    }
}

.menu-section {
    min-height: 80vh;
    background: url('../img/top/bg_menu.jpg') repeat-x left bottom;
    position: relative;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 120px 0;
    @media (max-width: 767px) {
        padding: 50px 0px;
    }
    &-wrap {
        width: 100%;
    }
    &__top {
        top: 0;
        left: -5%;
        position: absolute;
        @media (max-width: 767px) {
            img {
                height: 150px;
            }
        }
    }
    &__bottom {
        position: absolute;
        bottom: -5%;
        right: -5%;
    }
    &-wrap-list {
        overflow-x:auto;
        max-width:1080px;
    }
    &-list {
        margin-top: 50px;
        position:relative;
        min-width: 100%;
        &:before {
            content:'';
            width:100%;
            height:1px;
            background: $color-black;
            position:absolute;
            bottom:0px;
            left:0;
            opacity:.5;
        }
        li {
            display:inline-block;
            padding: 0 25px 10px;
            opacity:.5;
            text-align:center;
            position:relative;
            text-transform:uppercase;
            &:first-child {
                text-align:left;
                padding-left:0;
            }
            &:last-child {
                text-align:left;
            }
            &.active {
                opacity:1;
                a {
                    color:$color-tea;
                    font-weight:bold;
                }
                &:before {
                    content:'';
                    width:100%;
                    height:1px;
                    background: $color-tea;
                    position:absolute;
                    bottom:0;
                    left:0;
                }
            }
            @media (max-width: 767px) {
                padding: 0 15px 10px;
            }
        }
        a {
            color: $color-black;  
            font-size: 20px;
            @media (max-width: 767px) {
                font-size: 13px;
            }
        }
    }
    &-tab {
        margin-top:30;
        display: none;
        i {
            color: $color-green;
            margin-right:15px;
        }
    }
    #flavored-tea {
        display:block;
    }
    #cat_flavored-tea {
        font-family: $font-josefin;
        font-weight:bold;
        text-transform: uppercase;
        margin: 0 -10px;
        img {
            margin-bottom: 20px;
        }
        li {
            padding:0  20px;
            font-weight:bold;
        }
    }
}

.location-section {
    min-height:70vh;
    padding: 100px 0;
    background: url('../img/top/bg_location.jpg') no-repeat left top;
    background-size: cover;
    color: $color-white;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    &-wrap {
        width: 100%;
    }
    @media (max-width: 767px) {
        padding: 50px 0px;
    }
}

.contact-section {
    min-height: 80vh;
    padding: 100px 0;
    background: url('../img/top/bg_mission.jpg') repeat-x left bottom;
    background-size: cover;
    color: $color-white;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    &-wrap {
        width: 100%;
    }
    .input-page {
        color: $color-white;
    }
    @media (max-width: 767px) {
        padding: 50px 0px;
    }
}


.anim-contain.leaf-anim {
	width:100%;
	height:100%;
	position:fixed;
	z-index:99999;
	top:0;
	left:0;
    pointer-events: none;
    background: $color-white;
}
.leaf-path {
	box-sizing: border-box;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:150px;
	height:150px;
	border-radius: 50%;
	/* border:solid 2px grey; */
	opacity:.7;
	transition:opacity .25s ease-in-out;
}
.leaf {
	position:absolute;
  width: 25px;
	height: 38px;
	background-color:$color-green;
  /* background-color:#00AAD1; */
	/* border-radius: 50px; */
  border-radius: 75px 0px;

	position: absolute;
	transform: rotate(0deg);
	transition: transform 0.7s linear;
	top: -19px;   /* -child size/2 */
	left: 62px;   /* parent size/2 - child size/2 */
}
.anim-contain .leaf-path:nth-of-type(odd) .leaf {
	background-color:red;
}

.anim-contain .leaf-path:nth-of-type(1){
	animation: leaf-path 3s ease-in-out 0s infinite;
	-webkit-animation: leaf-path 3s ease-in-out 0s infinite;
	-moz-animation: leaf-path 3s ease-in-out 0s infinite;
}
.anim-contain .leaf-path:nth-of-type(2){
	animation: leaf-path 3s ease-in-out .15s infinite;
	-webkit-animation: leaf-path 3s ease-in-out .15s infinite;
	-moz-animation: leaf-path 3s ease-in-out .15s infinite;
}
.anim-contain .leaf-path:nth-of-type(3){
	animation: leaf-path 3s ease-in-out .30s infinite;
	-webkit-animation: leaf-path 3s ease-in-out .30s infinite;
	-moz-animation: leaf-path 3s ease-in-out .30s infinite;
}
.anim-contain .leaf-path:nth-of-type(4){
	animation: leaf-path 3s ease-in-out .45s infinite;
	-webkit-animation: leaf-path 3s ease-in-out .45s infinite;
	-moz-animation: leaf-path 3s ease-in-out .45s infinite;
}
.anim-contain .leaf-path:nth-of-type(5){
	animation: leaf-path 3s ease-in-out .60s infinite;
	-webkit-animation: leaf-path 3s ease-in-out .60s infinite;
	-moz-animation: leaf-path 3s ease-in-out .60s infinite;
}
.anim-contain .leaf-path:nth-of-type(6){
	animation: leaf-path 3s ease-in-out .75s infinite;
	-webkit-animation: leaf-path 3s ease-in-out .75s infinite;
	-moz-animation: leaf-path 3s ease-in-out .75s infinite;
}

@keyframes leaf-path {
	0% {transform: translate(-50%,-50%) rotate(0deg);}
	10% {transform: translate(-50%,-50%) rotate(0deg);}
	80% {transform: translate(-50%,-50%) rotate(360deg);}
	100% {transform: translate(-50%,-50%) rotate(360deg);}
}
@-webkit-keyframes leaf-path {
	0% {transform: translate(-50%,-50%) rotate(0deg);}
	10% {transform: translate(-50%,-50%) rotate(0deg);}
	80% {transform: translate(-50%,-50%) rotate(360deg);}
	100% {transform: translate(-50%,-50%) rotate(360deg);}
}
@-moz-keyframes leaf-path {
	0% {transform: translate(-50%,-50%) rotate(0deg);}
	10% {transform: translate(-50%,-50%) rotate(0deg);}
	80% {transform: translate(-50%,-50%) rotate(360deg);}
	100% {transform: translate(-50%,-50%) rotate(360deg);}
}

#location_page {
    .about-section {
        min-height: 100vh;
    }
    .nav-link {
        color: $color-white !important;
    }
    .lang-menu {
        a {
            color: $color-white !important;
        }
        li:last-child {
            border-left: 1px solid $color-white;
        }
    }
    .header-link {
        color: $color-white !important;
    }
    .wrap_controls {
        font-family: $font-josefin;
        ul {
            li {
                margin-top: 15px;
                padding-right: 15px;
                &.active {
                    background: rgba(146,200,62,.5);
                }
                &:first-child {
                    margin-top: 0;
                }
                a {
                    color: $color-white !important;
                    font-weight: bold !important;
                    font-size: 18px !important;
                    p {
                        color: $color-error;
                    }
                    em {
                        font-size: 12px;
                        font-style: normal;
                        display: inline-block;
                        margin: 5px 0;
                        font-weight: normal !important;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
    .container {
        max-width: 1200px;
    }
    .wrap-map {
        max-height: 60vh;
    }
    #controls {
        overflow-y: auto;
    }
    ::-webkit-scrollbar-track
    {
        display:none;
        -webkit-box-shadow: inset 0 0 6px rgba(146,200,62,.5);
        background: rgba(146,200,62,.5);
    }
    ::-webkit-scrollbar
    {
        width: 6px;
        background: rgba(146,200,62,.5);
        display:none;
    }

    ::-webkit-scrollbar-thumb
    {
        background-color: red;
        background: red;
        display:none;
    }
}
