$font-monserrat : 'Montserrat', sans-serif;
$font-roboto : 'Roboto', sans-serif;
$font-bold : 700;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;
$color-red: #3989c9;
$color-red-dark: #3989c9;
$color-pDark: #141414;
$color-dark: #404040;
$color-white: #fff;
$color-black: #313131;
$color-gray: #EAEAEA;
$color-bg-gray: #F8F8F8;
$color-thin-gray: #A0A0A0;
$color-light-gray: #f5f5f5;
$color-light-gray-hover: #e1e1e1;

$bg-gray: #F7F7F7;
$border-input: #D8D8D8;
$border-table: #D5D5D5;
$color-error: #E02020;


$color-user: #009688;

$color-blue-dark: #07407e;
$color-blue-light: #52a2f8;

$color-border: #cccccc;

$color-green: #92c83e;


